 img {
   height: 50px;
   width: 50px;
 }

 .navbar {
   height: 60px;
   background-color: rgba(245, 245, 245, 0.747);
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-size: 16px;
   font-family: ProximaNova, arial, Helvetica Neue, sans-serif;

   font-weight: 500;
   padding-top: 20px;


 }

 a {
   text-decoration: none;

   transition: color 0.3sec ease;

 }

 a:hover {
   color: orangered;
 }

 h1 {
   height: fit-content;
   margin-bottom: 10px;
   padding-left: 120px;
   margin: 0;
   font-family: Gilroy;
   font-weight: 2000;
   font-size: 25px;
   line-height: 28px;
   letter-spacing: -0.4px;
   color: rgba(2, 6, 12, 0.92);
 }

 .text-box {
   border: 1px solid black;
   width: 130px;
   height: 30px;
   padding-top: 5px;
   text-align: center;
   border-radius: 50px;
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;


 }

 .box {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   position: sticky;
   top: 0;
   padding: 30px;

   padding-left: 100px;
   padding-right: 100px;
   background-color: white;
   z-index: 1;



 }

 .imagecontainer {
   display: grid;
   grid-template-columns: 300px 300px 300px 300px;
   grid-template-rows: 300px 300px;
   gap: 5px;
   padding: 5px;


 }

 .imagecontainer img {
   width: 250px;
   height: 180px;
   margin-right: 10px;
   padding-left: 100px;
   padding-right: 100px;
   border-radius: 30%;
   align-items: center;
   display: flex;
   justify-content: center;


   margin-top: 10px;

 }

 .textbelow {

   width: 200px;
   margin-top: 10px;


   font-family: Arial, Helvetica, sans-serif;
   padding-left: 130px;
 }

 #name {
   font-weight: bolder;
   font-size: x-large;
   line-height: 20px;
 }

 #time {
   font-weight: bold;
   font-size: large;
   padding: 5px;
 }

 #place {
   font-style: inherit;
   color: rgba(0, 0, 0, 0.671);
 }

 .biryani {

   transition: transform 0.03 ease;


 }

 .biryani:hover {

   transform: scale(0.95);


 }

 p {
   padding-left: 110px;
   padding-right: 110px;
   font-size: x-large;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   line-height: 30px;
 }

 .restaurants {
   display: grid;
   grid-template-columns: 300px 300px 300px 300px;
   grid-template-rows: 80px 80px 80px;
   gap: 5px;
   padding: 5px;
   padding-left: 100px;
   padding-right: 100px;
 }

 .restaurants-box {
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   font-weight: 400;
   border: 1px solid black;
   width: 250px;
   height: 50px;
   border-radius: 10px;
   align-items: center;
   display: flex;
   justify-content: center;


 }
 .section-footer{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bolder;
  padding-left: 110px;
  padding-right: 110px;
  color: rgba(0, 0, 0, 0.616);
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding-top: 10px;
  
 }
 #img img{
  width: 250px;
  height: 70px;
  margin-right: 20px;
  padding-top: 20px;
 }
 .feedback{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px ;
  grid-template-rows: 80px 80px ;
  gap: 5px;
  padding: 5px;
  padding-left: 110px;
  padding-right: 110px;
  font-weight: bolder;
  background-color: black;
  color: white;
  padding-top: 50px;
  font-size: x-large;
  height: 400px;
 }
 .feedback-box img{
  height: 30px;
  width: 30px;
  background-color: black;
  padding-left: 200px;
 }
 .feedback-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
 }